
<app-head></app-head>
<style>
    body{
      background: #dad7d7;
      
      
    }
</style>
  

<body>
 <!--<div class="container-flex">-->
      <div class="navbar">
        <div class="menugauche">
              <ul class="left">
                  <li>Contact</li>
                  <span class="vertical-line" style="position: inherit;
                "></span>
                  <a style="color:#fab91a" href="#">Notre entreprise</a> 
              </ul>
        </div>
        <div class="menudroit">
          <ul class="rigth">
              <li class="nom">Nom de l'entreprise</li>
              <span class="vertical-line"></span>
              <a href="#" type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"  class="nav-link a">
                <i class="far fa-bell fa-2x" aria-hidden="true"></i> 
              </a>
              <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel" ></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>  
                      <div class="modal-body">
                                              
                          <div class="notification">
                              <h6>MES NOTIFICATIONS</h6>
                              <hr style="border: solid 2px black;" >
                              <div class="element">
                                  <ul>
                                      <li>
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                          Vous avez <strong>0</strong> commande a traiter
                                      </li>
                                  </ul>
                                  <ul>
                                    <li>
                                      <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    </li>
                                  </ul>
                                  <ul>
                                      <li>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                          Vous avez <strong>0</strong> commande en attente d'acceptation
                                      </li>
                                  </ul>
                                  <ul>
                                      <li>
                                        <i class="fa fa-truck" aria-hidden="true"></i>
                                          Vous avez <strong>0</strong> commande a expedier
                                      </li>
                                  </ul>
                                  <ul>
                                      <li>
                                        <i class="fa fa-commenting" aria-hidden="true"></i>
                                          Vous avez <strong>0</strong> reclamation
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="actualite">
                              <h6>ACTUALITES</h6>
                              <hr style="border: solid 2px black;">
                              <ul>
                                  <li>
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                      Vous avez <strong>0</strong> Nouvelle actualise
                                  </li>
                              </ul>
                          </div>
                        

                      </div>
                    </div>
                </div>
              </div>
          </ul>
        </div>
      </div>
    
    <div class="d-flex align-items-start">
      
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <img src="assets/image/logo2.png" alt="">
        <button class="nav-link  link active" id="v-pills-commande-tab" data-toggle="pill" data-target="#v-pills-commande" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <i class="fa fa-shopping-basket fa-2x"></i> Les Commandes</button>
        <button class="nav-link link" id="v-pills-produit-tab" data-toggle="pill" data-target="#v-pills-produit" type="button" role="tab" aria-controls="v-pills-produit" aria-selected="false">
          <i class="fa fa-file-upload fa-2x"></i> Les Produits</button>
       <!-- <button class="nav-link link" id="v-pills-analytique-tab" data-toggle="pill" data-target="#v-pills-analytique" type="button" role="tab" aria-controls="v-pills-analytique" aria-selected="false"><i class="fa fa-chart-line fa-2x"></i> Analityque</button>-->
        <button class="nav-link link" id="v-pills-parametre-tab" data-toggle="pill" data-target="#v-pills-parametre" type="button" role="tab" aria-controls="v-pills-parametre" aria-selected="false"><i class="fa fa-cog fa-2x" aria-hidden="true"></i> Parametre</button>
        <hr class="h">
        <button  class="btn link" type="submit" role="tab"  data-toggle="pill"  aria-selected="false" (click)="logout()">Deconnexion</button>
        

      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-commande" role="tabpanel" aria-labelledby="v-pills-commande-tab">
         <h4>Vos Commandes </h4>
         <div class="container">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                
                  <th>N`commande</th>
                  <th>articles</th>
                  <th>Quantites</th>
                  <th>Montant</th>
                  <th>Date</th>
                  <th>Statut</th>
                  <th>Details</th>
                
                
              </thead>
              <tbody>
                
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                 
                
              </tbody>
            </table>
          </div>
        </div>
      
        </div>

        <div class="tab-pane fade parametre" id="v-pills-parametre" role="tabpanel" aria-labelledby="v-pills-parametre-tab">
          <h4 style="margin: 10px;margin-top: 16px;">Mes informations </h4>
         
          <nav class="navpara">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active para" id="nav-general-tab" data-toggle="tab" data-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">Général</button>
              <button class="nav-link para" id="nav-condition-tab" data-toggle="tab" data-target="#nav-condition" type="button" role="tab" aria-controls="nav-condition" aria-selected="false">Conditions de retour</button>
              <!--<button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>-->
            </div>
          </nav>
          <div class="tab-content content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab"> 
            <a href="#" class="info" data-toggle="modal" role="button" aria-expanded="false" data-target="#compte">Les informations du compte partenaire </a>
            <div class="modal fade" id="compte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header" style="background: #324161;">
                    <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Informations personnelle</h4>
                    <button type="button" style="color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="background: #efefef;">
                    <form>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="nom de l'entreprise">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder=" Prenoms">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Nom">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Telephone">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Numero whatsapp">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="E-mail">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Ville">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer" style="background: #efefef;">
                    <button type="submit" class="btn btn-success" data-toggle="modal" role="button" aria-expanded="false" data-target="#enregistre">Enregistrer</button>
                    <div class="modal fade" id="enregistre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="header">
                            <h4 class="modal-title">Voulez-modifier vos donnees?</h4>
                          </div>
                            <div class="modal-body" style="margin: 12px; text-align: center;">
                              <button type="submit" style="margin-right: 8px;" class="btn btn-danger">Annuler</button>
                              <button type="submit" style="margin-left: 5px;" class="btn btn-success">OUI</button>
                            </div>
                          
                         </div>
                        </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            
            <hr>
            <a href="#" class="info" data-toggle="modal" role="button" aria-expanded="false" data-target="#affaire">Informations d'affaire </a>
            <div class="modal fade" id="affaire" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header" style="background: #324161;">
                    <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Informations d'affaire</h4>
                    <button type="button" style="color: white;" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="background: #efefef;">
                    <form>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Nombre d'articles disponible">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Forme Juridique">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Nom legal/Raison social">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Commune/Ville">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Adresse2">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Numero d'enreistrement de l'entreprise">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Etre vous une entite commerciale">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="col">
                          <select class="form-select" aria-label=".form-select-lg example">
                            <option selected>Selectionner votre pays</option>
                            <option ></option>
                            <option ></option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <select class="form-select" aria-label=".form-select-lg example">
                            <option selected>Forme Juridique</option>
                            <option ></option>
                            <option ></option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer" style="background: #efefef;">
                    <button type="submit" class="btn btn-success" data-toggle="modal" role="button" aria-expanded="false" data-target="#enregistre">Enregistrer</button>
                    <div class="modal fade" id="enregistre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="header">
                            <h4 class="modal-title">Voulez-modifier vos donnees?</h4>
                          </div>
                            <div class="modal-body" style="margin: 12px; text-align: center;">
                              <button type="submit" style="margin-right: 8px;" class="btn btn-danger">Annuler</button>
                              <button type="submit" style="margin-left: 5px;" class="btn btn-success">OUI</button>
                            </div>
                          
                         </div>
                        </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            
            <hr>
            <a href="#" class="info" data-toggle="modal" role="button" aria-expanded="false" data-target="#mode">Informations bancaire et de paiement </a>
            <div class="modal fade" id="mode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header" style="background: #324161;">
                    <h4 class="modal-title" id="exampleModalLabel" style="color: white;">Mode de payement</h4>
                    <button type="button" style="color: white;" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="background: #efefef;">
                    <form>
                      <div class="form-row">
                        <div class="col"  ng-hide='var'>
                          <label for="Mtn money">Mobile money 
                              <input type="radio" name="r2" id="r1" (click)='cache()'>
                          </label>
                          
                        </div>
                        <div class="col">
                          <label for="Mtn money">Virement bancaire 
                          <input type="radio" name="r2" id="r2" (click)='cache2()'>
                        </label>
                        </div>
                      </div>
                      <div class="form-row" id="form1" *ngIf='myvar2'>
                        <div class="col">
                          <input type="text"  class="form-control" name="" id="" placeholder="Entrer votre numero mobile money">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="autre numero mobile money">
                        </div>
                      </div>
                      <div class="form-row" id="form2" *ngIf='myvar'>
                        <div class="col" ng-model='var'>
                          <input type="text" class="form-control" placeholder="Numero de compte">
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" placeholder="IBAN">
                        </div>
                      </div>

                      <div class="form-row" id="form3" *ngIf='myvar'>
                        <div class="col">
                          <label for="">Information bancaire</label>
                          <input class="form-control" type="file" id="formFile" placeholder="informations bancaires">
                        </div>
                        <div class="col">
                          <label for="">Code bancaire</label>
                          <input class="form-control" type="text"  placeholder="Code bancaires">
                        </div>
                      </div>
                      
                      
                    </form>
                  </div>
                  <div class="modal-footer" style="background: #efefef;">
                    <button type="submit" class="btn btn-success" data-toggle="modal" role="button" aria-expanded="false" data-target="#enregistre">Enregistrer</button>
                    <div class="modal fade" id="enregistre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="header">
                            <h4 class="modal-title">Voulez-modifier vos donnees?</h4>
                          </div>
                            <div class="modal-body" style="margin: 12px; text-align: center;">
                              <button type="submit" style="margin-right: 8px;" class="btn btn-danger">Annuler</button>
                              <button type="submit" style="margin-left: 5px;" class="btn btn-success">OUI</button>
                            </div>
                          
                         </div>
                        </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            
            <hr> 
            </div>

            <div class="tab-pane fade condition" id="nav-condition" role="tabpanel" aria-labelledby="nav-condition-tab" style="background: white;width:800px ;height: 445px;">
              <h4 style="margin-top: 5px;">Conditions de retour</h4>
              <hr>
              <h6>Vous pouvez indiquer ci-dessous vos conditions de retour de produits. Ces dernières apparaitront au niveau de votre boutique</h6>
               <label for="">Politique de retour ( 2000 caractères max.)</label>
               <textarea class="textarea" name="" id="" placeholder="Merci d'indiquer clairement vos conditions et adresses de retour produits."></textarea>
                <button type="submit" class="registre">Enregistrer</button>
              </div>
            <!--<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>-->
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-analytique" role="tabpanel" aria-labelledby="v-pills-analytique-tab">fairte</div>
        <div class="tab-pane fade" id="v-pills-produit" role="tabpanel" aria-labelledby="v-pills-produit-tab">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-affichage-tab" data-toggle="tab" data-target="#nav-affichage" type="button" role="tab" aria-controls="nav-affichage" aria-selected="true">Affichage</button>
                <button class="nav-link" id="nav-vetement-tab" data-toggle="tab" data-target="#nav-vetement" type="button" role="tab" aria-controls="nav-vetement" aria-selected="false"> Vetements</button>
                <button class="nav-link" id="nav-gadgets-tab" data-toggle="tab" data-target="#nav-gadgets" type="button" role="tab" aria-controls="nav-gadgets" aria-selected="false">Gadgets</button>
                <button class="nav-link" id="nav-imprimer-tab" data-toggle="tab" data-target="#nav-imprimer" type="button" role="tab" aria-controls="nav-imprimer" aria-selected="false">Imprimerie</button>
                <button class="nav-link" id="nav-cemballage-tab" data-toggle="tab" data-target="#nav-emballage" type="button" role="tab" aria-controls="nav-emballage" aria-selected="false">Emballages</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-affichage" role="tabpanel" aria-labelledby="nav-affichage-tab">
                  
                <div class="container fluid">
                  <h4>Ajouter vos differents produits d'affichage ici</h4>
                  <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   <form class="form-inline">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="dipsna" id="" class="form-control" placeholder="Entrer le type d'affichage" [(ngModel)]="disps.name_display" >
                          </div>
                        </div>
                         <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="dispname" id="" class="form-control" placeholder=" Le prix" [(ngModel)]="disps.price">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="dispsdim" id="" class="form-control" placeholder="La dimension" [(ngModel)]="disps.dim">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="disgram" id="" class="form-control" placeholder="grammage" [(ngModel)]="disps.gram">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group"> 
                              <input  class="file" type="file" name="file" id="" (change)="OnfileSelect($event)">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                            <textarea name="dispcom" id="" rows="4"  placeholder="description du produit" [(ngModel)]="disps.comment"></textarea>
                            </div>
                          </div>
                      </div>
                      <!-- <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input style="margin-top: 5px;" type="file" name="file" id="file">
                            </div>
                          </div>
                         <div class="col-6">
                            <input type="file" name="file" id="file">
                         </div>
                      </div>-->
                     
                   </form>
                   <div class="col-lg-1 col-md-1 col-sm-1">
                    <app-spiner [show]="show" [size]="50"> </app-spiner>
                   </div>
                   <button style="margin-top:40px ;" type="submit" class="bouton" (click)="Adddisp()">Ajouter le produit</button>
                 </div>
                  
              </div>
              <div class="tab-pane fade" id="nav-vetement" role="tabpanel" aria-labelledby="nav-vetement-tab">
               <div class="container fluid">
                <h4>Ajouter vos vetement ici</h4>
                <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                 <form class="form-inline">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="designation" id="design" class="form-control" placeholder="Designation" [(ngModel)]="cloths.name">
                        </div>
                      </div>
                       <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="price" id="" class="form-control" placeholder=" Le prix" [(ngModel)]="cloths.price" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="color" id="color" class="form-control" placeholder="La couleur"  [(ngModel)]="cloths.color">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="mode" id="mode" class="form-control" placeholder="Le mode" [(ngModel)]="cloths.mode">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="size" id="size" class="form-control" placeholder="La taille" [(ngModel)]="cloths.size" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="mat" id="mat" class="form-control" placeholder="Materiel" [(ngModel)]="cloths.mat">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="type" id="tps" class="form-control" placeholder="Le type d'imprinsion" [(ngModel)]="cloths.type_imp">
                          </div>
                        </div>
                        <div class="col-6">
                            <input  class="file" type="file" name="file" id="file" (change)="OnfileSelect($event)">
                       </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <textarea name="comment" id="comment" rows="4" placefolder="Description du produit" [(ngModel)]="cloths.comment"></textarea>
                      </div>
                     
                  </div>
                   
                 </form>
                 <div class="col-lg-1 col-md-1 col-sm-1">
                  <app-spiner [show]="show" [size]="50"> </app-spiner>
                 </div>
                 <button type="submit" class="bouton" (click)="Addcloths()">Ajouter le produit</button>
               </div>
                
              </div>
              <div class="tab-pane fade" id="nav-gadgets" role="tabpanel" aria-labelledby="nav-gadgets-tab">
                <div class="container fluid">
                  <h4>Ajouter vos Gadgets ici</h4>
                  <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   <form class="form-inline">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="desd" id="" class="form-control" placeholder="Entrer le type de gadgets" [(ngModel)]="gadgets.name_gadget">
                          </div>
                        </div>
                         <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="myp" id="" class="form-control" placeholder=" Le prix" [(ngModel)]="gadgets.price">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="dime" id="dime" class="form-control" placeholder="La dimension" [(ngModel)]="gadgets.dim" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="sie" id="mysie" class="form-control" placeholder="La taille" [(ngModel)]="gadgets.size">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="diam" id="diam" class="form-control" placeholder="Le diametre" [(ngModel)]="gadgets.diam" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="mat" id="mat" class="form-control" placeholder="Materiel"[(ngModel)]="gadgets.material" >
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input class="file" type="file" name="file" id="file" (change)="OnfileSelect($event)">
                            </div>
                          </div>
                          <div class="col-6">
                            <textarea name="comment" id="comment" rows="4" placeholder="Description du produit" [(ngModel)]="gadgets.comment"></textarea>
                         </div>
                      </div>
                     
                   </form>
                   <div class="col-lg-1 col-md-1 col-sm-1">
                    <app-spiner [show]="show" [size]="50"> </app-spiner>
                   </div>
                   <button type="submit" class="bouton" (click)="AddGadget()">Ajouter le produit</button>
                 </div>
                  
                
              </div>
              <div class="tab-pane fade " id="nav-imprimer" role="tabpanel" aria-labelledby="nav-imprimer-tab">
                <div class="container fluid">
                  <h4>Ajouter vos produits imprimes ici</h4>
                  <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   <form class="form-inline">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="printname" id="" class="form-control" placeholder="Entrer le type de produit"  [(ngModel)]="prints.name_printed" >
                          </div>
                        </div>
                         <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="printedprix" id="" class="form-control" placeholder=" Le prix" [(ngModel)]="prints.price" >
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="prindim" id="" class="form-control" placeholder="la Dimension" [(ngModel)]="prints.dim">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="gramprints" id="" class="form-control" placeholder="le grammage" [(ngModel)]="prints.gram">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="pellicule" id="pell" class="form-control" placeholder=" pelicule" [(ngModel)]="prints.pellicule">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="border" id="brder" class="form-control" placeholder="bordure" [(ngModel)]="prints.border">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="pp" id="" class="form-control" placeholder="Volet" [(ngModel)]="prints.price" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="verni" id="" class="form-control" placeholder="vernille" [(ngModel)]="prints.verni" >
                            </div>
                          </div>
                      </div>
                      
                      <div class="row">
                        
                          <div class="col-6">
                            <div class="form-group">
                             <textarea name="lecom" id="lecomp" rows="4" placeholder="Description du produit" [(ngModel)]="prints.comment"></textarea>
                            </div>
                          </div>
                          <div class="col-6">
                            <input  class="file" type="file" name="file" id="file" (change)="OnfileSelect($event)">
                         </div>

                      </div>
                     
                   </form>
                   <div class="col-lg-1 col-md-1 col-sm-1">
                    <app-spiner [show]="show" [size]="50"> </app-spiner>
                   </div>

                   <button type="submit" class="bouton" (click)="Addprinted()">Ajouter le produit</button>
                 </div>
              </div>
              <div class="tab-pane fade" id="nav-emballage" role="tabpanel" aria-labelledby="nav-emballage-tab">
                <div class="container fluid">
                  <h4>Ajouter vos differents produits d'emballages ici</h4>
                  <div *ngIf="succeed" class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                   <form class="form-inline">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="packname" id="" class="form-control" placeholder="Entrer le type d'emballage" [(ngModel)]="packs.name_packaging" >
                          </div>
                        </div>
                         <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="packprice" id="" class="form-control" placeholder=" Le prix"  [(ngModel)]="packs.price">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="dimension" id="" class="form-control" placeholder="La dimension"  [(ngModel)]="packs.dim" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <input type="text" name="packsm" id="" class="form-control" placeholder="Materiel " [(ngModel)]="packs.material">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <input  class="file" type="file" name="file" id="file" (change)="OnfileSelect($event)">
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <textarea name="letcom" id=""  rows="4" placeholder="Description du produit"  [(ngModel)]="packs.comment"></textarea>
                            </div>
                          </div>
                      </div>
                      <!--<div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              c
                            </div>
                          </div>
                          <div class="col-6">
                            <input type="file" name="file" id="file">
                         </div>
                      </div>-->
                     
                   </form>

                   <div class="col-lg-1 col-md-1 col-sm-1">
                    <app-spiner [show]="show" [size]="50"> </app-spiner>
                   </div>
                   <button style="margin-top:40px ;" type="submit" class="bouton" (click)="Addpack()">Ajouter le produit</button>
                 </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <!--</div>-->
<app-footer class="footer"></app-footer>
      <!-- 
    <div class="container-flex">
        <div class="sidebar">
          <div class="wrapper">
          <ul class="ul">
            <img src="assets/image/logo2.png" alt="">
          </ul >
          <ul class="ul">
            <a href="#"><i class="fab fa-dashcube    "></i> Dashbord</a>
          </ul>
          <ul class="ul">
            <div class="dropdown">
              <a  data-toggle="collapse" href="#" data-target="#products" class="collapsed active">
              <i class="fab fa-product-hunt" aria-hidden="true"></i> Produits <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            
              <div class="sub-menu collapse" id="products">
                <a class="dropdown-item" href="#">Gerer ses Produits</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
          
          </ul>
          <ul class="ul">
            <div class="dropdown">
              <a class="collapsed active" data-toggle="collapse" href="#" data-target="#order">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>  Commandes  <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            
              <div class="collapse" id="order">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
          </ul>

          <ul class="ul">
            <div class="dropdown">
              <a class=" collapsed active" href="#"  data-toggle="collapse" data-target="#promo" >
                <i class="fa fa-tags" aria-hidden="true"></i>  Promotions  <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            
              <div class="collapse" id="promo" >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
          </ul>
          <ul class="ul">
             <a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i> Analityque</a>
          </ul>
          <hr class="hr">
          <footer>
            <ul class="footer">
            <a href="#" >
              <i class="fal fa-cog  fa-spin"></i> parametre</a>
            </ul>
          </footer>
    </div>
    </div>
          
            <h4>TABLEAU DE BORD</h4>    
            <div class="row row-head">
              
              <div class="col-2 col-4-1 ">
                
                <div class="card ">
                  <div class="header" style="padding: 10px;">TABLEAU DE COMMANDE</div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;"> En attentes</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p style="text-align:center;"><span style="float: left;">Aujourd'hui</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;">Hier</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body " >
                    <p class="body"><span style="float: left;">Limite de commandes</span><strong style="float: right;">0</strong></p>
                  </div>
              </div>
              </div>

              <div class="col-2 col-4-1">
                <div class="card" style="background: #fab91a;">
                  <div class="header" style="padding: 10px;">CREATION DE PRODUITS</div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;">Produits rejetes</span><strong style="float: right;">0</strong></p>
                    <p style="font-size: 12px;float: left;font-weight: bold;position:relative;bottom: 18px;">(mauvaise qualites)</p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p style="text-align:center;"><span style="float: left;">Produits rejetes</span><strong style="float: right;">0</strong></p>
                    <p style="font-size: 12px;float: left;font-weight: bold;position:relative;bottom: 18px;">(images manquantes)</p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;">Produits approuves</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body " >
                    <p class="body"><span style="float: left;">Produits en attentes</span><strong style="float: right;">0</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-2 col-4-1">
                <div class="card">
                  <div class="header" style="padding: 10px;">ARTICLES A EXPEDIER</div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;"> En retard d'expedition</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p style="text-align:center;"><span style="float: left;">A expedier ce jour</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;">A expedier </span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body " >
                    <p class="body"><span style="float: left;">Limite de commandes</span><strong style="float: right;">0</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-2 col-4-1">
                <div class="card"  style="background: #fab91a;">
                  <div class="header" style="padding: 10px;">STOCK DE PRODUITS</div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;"> Top produits</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p style="text-align:center;"><span style="float: left;">Produits epuises</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body">
                    <p><span style="float: left;">Restant</span><strong style="float: right;">0</strong></p>
                  </div>
                  <hr>
                  <div class="card-body " >
                    <p class="body"><span style="float: left;">Totals produits </span><strong style="float: right;">0</strong></p>
                  </div>

                </div>
                
              </div>
            </div>
          </div>
            <div class="row row4">
              <div class="col-4 col1">
                <div>
                <span style="float: left;">Nouvelle notification</span>
                <a style="float: right;" href="#" type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> Tout afficher</a>
              </div>
              <hr class="hr4">
              <p style="text-align: center;position:relative;top:44px">Vous n'avez aucune Nouvelle notification</p>
              </div>
              <div class="col-4 col">
              <p class="avoir">Avoir</p>
              <br>
              <li class="li">Prochain versement: 02/11/2021</li>
              <br>
              <ul>
                <strong class="strong">0.00 XOF</strong>
              </ul>
              </div>
            </div>
   </div>
 --> 
   <script type="text/javascript">
    $(document).ready(function(){
      $('#r1').click(function(){
        $('#form2').hide();
      });
    });

   </script>
  
</body>

