<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-aladin [data]="data" *ngIf="data.aladin"></app-aladin>
<!--
<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" class="zoom" (click)="go()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1  class="title-text">{{data.name}} </h1>
      <p>Prix: {{data.price - 1000}} FCFA</p>
      </div>
      <div class="description">
        <div class="description-text">
          <ul>

          </ul>
          Type d'impression : <ul>
            
          </ul>
        </div>
        <div class="size" >
          Taille :
              <ul style="list-style: none;">
                
              </ul>
              
        </div>
       
</div>
<style>
  a{
    text-decoration: none;
  }
</style>
<div class="btn " (click)="reload(Changevalue)"> 
  <a>
      Retour    
      </a></div>


      <div class="btn bt" > 
        <a  (click)="go()">
        Je Personnalise
      </a>
    </div>

    
    </div>

  </div>
</div>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}
       </p>
      </div>

    </div>
  </div>
</div>
-->
<div class="container"  *ngIf="data.show" style="margin-top: 40px;">
  <div class="row">
    
      <div class="col-6 image">
        <img [src]="data.url"  class="zoom" (click)="go()">
      </div>
          
       <div class="col-6">
        <h1  class="title-text">{{data.name}} </h1>
        <p>Prix: {{data.price - 1000}} FCFA</p>

         <div class="impression">
           <h6>type d'inpression</h6>
           <select name="name" id="name" class="form-control" (change)="onchange($event)">
             <option value="choisir un type d'impression">choisir un type d'impression</option>
             <option [value]="item" *ngFor="let item of typimpr">{{item}}</option>
            
           </select>
         </div>
            
                   <!--quantité et taille-->

                  <div class="card" style="margin-top: 13px;">
                    <div class="card-header">
                        <a role="button" data-toggle="collapse" data-target="#quantite" aria-expanded="true" aria-controls="collapseOne">
                        Quantité et taille
                        </a>
                    </div>
                
                    <div id="quantite" class="collapse show" aria-labelledby="heading" data-parent="#accordion1">
                      <div class="card-body" >
                        <div class="inpute" *ngIf="data.size.a3">
                          <label for="">{{data.size.a3}}</label>
                          <div class="inputed m">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)="QtminusM($event)"></i></a>
                            <span>{{QtM}}</span>
                            <input type="number" name="qtm" id="" hidden [(ngModel)]="QtM">
                            <a class="plus" (click)="QtplusM($event)"  role="button"><i class="fad fa-plus-circle fa-x"  ></i></a>
                          </div>
                        </div>
                        <hr>
                        <div class="inpute" *ngIf="data.size.a1">
                          <label for="">{{data.size.a1}}</label>
                          <div class="inputed s">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusS($event)'></i></a>
                            <span>{{QtS}}</span>
                            <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusS($event)' ></i></a>
                          </div>
                        </div>
                        <hr>
                        <div class="inpute" *ngIf="data.size.a1">
                          <label for="">{{data.size.a2}}</label>
                          <div class="inputed l">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusL($event)'></i></a>
                            <span> {{QtL}}</span>
                            <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusL($event)'></i></a>
                          </div>
                        </div>
                        <hr>
                        <div class="inpute " *ngIf="data.size.a4">
                          <label for="">{{data.size.a4}}</label>
                          <div class="inputed xl">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXL($event)'></i></a>
                            <span>{{QtXL}}</span>
                            <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXL($event)'></i></a>
                          </div>
                        </div>
                        <hr>
                        <div class="inpute "  *ngIf="data.size.a5">
                          <label for="">{{data.size.a5}}</label>
                          <div class="inputed xxl">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXXL($event)'></i></a>
                            <span>{{QtXXL}}</span>
                            <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXXL($event)'></i></a>
                          </div>
                        </div>
                        <hr>
                        <div class="inpute"  *ngIf="data.size.a6">
                          <label for="">{{data.size.a6}}</label>
                          <div class="inputed xxxl">
                            <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXXXL($event)'></i></a>
                            <span>{{QtXXXL}}</span>
                            <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXXXL($event)'></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
          
          </div>
          <button class="btn-success" type="submit" style="float:left;" (click)="go()">Personnaliser</button>
          <button class=" btn btn-primary" type="submit" style="float: left;" (click)="reload(Changevalue)" style="background-color: royalblue;">Retour</button>
        </div>
         
  </div>
<!--
  <div class="grid-container" *ngIf="data.show">
    <div class="row">
      <div class="col-10 dx">
        <div class="title-descript">
          <h3 class="text-size">DESCRIPTION</h3>
        </div>
        <div class="body-descript">
          <p>
              {{data.comment}}
         </p>
        </div>
  
      </div>
    </div>
  </div>-->
  </div>






