body{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

.bt{
    position: relative;
    left: 29%;
}
canvas{
    margin-left: 0.2em;
    border: blue dashed;


}
nav{

    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: #e3e4e3;
    height: 55px;
    font-family: 'Poppins';
    font-weight: bold;

   //font-size: 12px;
}
ul{
    font-size: 12px;
    //margin: 6px;
    height: 100%;
    
}
.fal, .far, .fa, .fas,.fad{
    color: black;
}
ul li p{
    color: black;

}
.bt{
    background: green;
}
li a{
    vertical-align: middle;
    color: white;
    font-size: 26px;
    padding-right: 10px;
}
//css boutton
.bout{
    background: #0096FF;
    height: 87px;
    margin: 8px;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    margin-top:9px;
   
}
.col-1{
width: 12%;
background-color: #e3e4e3;
text-align: center;
color: white;
}
.fa-tshirt, .fa-text,.fa-download,.fa-shapes,.fa-book{
    color: white;
    margin-top: 8px;
}
.bout a{
    color: white;
    text-decoration: none;
    margin-top:9px;
   
}
.col-2{
    width: 47%;
    margin-top: 6px;
}
.forms .col-2{
    width: 100%;
    height: 414px;
    margin-top: 6px;
}
.forms .col-2 img{
   width: 47%; 
}
.col-2 img{
    background-color: #e3e4e3;
}

.card{
    border: none;
}
.col-3{
    border: solid 1px #e3e4e3;
    border-bottom: none;
    border-left: navajowhite;
    height: 487px;
    border-top: none;
    
}
.row-cols-3{
    overflow: scroll;
    height: 487px;
}
h5{
    font-family: 'Poppins',sans-serif;
}
.img{
    width: 100%;
}
//ccs images

.col-8{
    width: 59px;
    text-align: center;
    margin-left: 221px;
}
//import css
.modal-footer{
justify-content: center;
}
//css import
.btne{
background-color: #324161;
color: white;
font-family: 'Poppins',sans-serif;
}
.modal-body{
font-family: 'Poppins',sans-serif;
color:black;
font-weight: bold;
height: 300px;
background: #e3e4e3;
}
.ody{
    position: relative;
    top: 93px;
}
.fat{
    color:black;
}
.palette a{
    margin: 10px;
    text-decoration: none;
   

    
}
.point{
    margin-top: 5px;
}
.palette a h6{
    font-size: 10px;
    color: black;
}
.couleur a{
    margin: 10px;
    
}
.palette{
    display: flex;
}
.cou{
    border: solid 1px #e3e4e3 ;
}
.fa-circle{
    color: red;
}
input:focus{
    box-shadow: none;
}
select:focus{
    box-shadow: none;
}
.taille a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.tete{
    border: solid 1px #e3e4e3;
    width: 74px;
   
}
h6, strong{
    font-family: 'Poppins',sans-serif;
}
h5{
    font-size: small;
}
.range{
    border: solid 1px #e3e4e3;
    width: 100%;
    //margin-left: 12px;
}
//images
.mg{
    position: relative;
    right: 181px;
    width: 138px;
    border: solid 1px;
    margin: 5px;

}
.grang{
border: solid 1px;
width: 518px;
position: relative;
bottom: 240px;
}
h1{
    color: black;
    font-family: 'Poopins',sans-serif;
    margin: 6px;
}
.lin{
    background-color: #e3e4e3;
    

}
.mobile{
    display: none;
}
@media screen and (max-width:768px) {
    canvas {
        width: 320px;
        margin-left: 0em;
        border: solid 1px;
    }
    .col-1{
       background-color: transparent;
        display: -webkit-inline-box;
        width: 41%;
        flex: 0.08 8 auto;
        position: relative;
        right: 12px;
        margin-top: 42px;
    }
    .mobile{
        display: flex;
        position: absolute;
        top: 61px;
    }
    .bout{
        margin: 1px;
       //margin-left: -6px;
    }
    .col-1 p{
        font-size: 11.5px;
    }
    .link{
        display: none;
    }
    .col-3{
        width: 100%;
        margin-top: 10px;
        border: none;
        display: contents;
    }
    .grang{
        right: 220px;
        width: 311px;
    }
    .grang img{
        width: 331px;
        right: 20px;
    }
    .mg1{
    position: relative;
    top: 382px;
    left: -228px;
    }
    .mg2{
        position: relative;
        top: 276px;
    left: -66px;
    }
    .col-8{
        width: 100%;
        position: relative;
    left: -3%;
    right: 56%;
    top: 19px;
    }
    .row-cols-3{
        left: 10px;
    position: relative;
    top: 8px;
    }
    .view{
        width: 300px;
    }
    
}
@media screen and (max-width:800px) and (max-height:1280px) {
    canvas{
        border: solid 1px;
        width: 320px;
    }
    .col-1{
        width: 20%;
    }
    .col-3{
        width: 31%;
    }
    .mg1{
       top: 410px;
    }
    .mg2{
        top: 290px;
        left: -44px;
    }
    ul{
        font-size: 8px;
        font-family: 'Times';
        font-weight: bold;
    }
    .bt{
        left: 16px;

    }
    .col-2 img{
        width: 195px;
    }
    .grang{
        right: 223px;
        width: 327px;
    }
    .grang img{
        width: 313px;
    }
    .palette a{
        margin: 11px;
    }
    canvas{
        position: absolute;
        width: 329px;
    
        height: 400px;
   
        left: -85px;
     top: 0px;
    
        touch-action: none;
        user-select: none;
    }
    
}
@media screen and (max-height:768px)  and (orientation:landscape) {
    .bt{
        left: 222px;
    }
   
}