#i{
    display: flex;
    position: relative;
    bottom: 1%;
}


@media screen and (min-width: 680px) {
    .zoom {
        transition: transform .2s;
        margin: 0 auto;
      }
    
      .zoom:hover {
          height: auto;
        -ms-transform: scale(10); 
        -webkit-transform: scale(10); 
        transform: scale(10); 
    
    }

}


@media screen and (max-width: 680px) {
    .zoom {
        transition: transform .2s;
        margin: 0 auto;
      }
    
      .zoom:hover {
          height: auto;
        -ms-transform: scale(5); 
        -webkit-transform: scale(5); 
        transform: scale(5); 
    
    }

}
