<div class="container">
  <div class="card info">
    <header class="head">
      <h1 class="text">Informations Personnelles</h1>
    </header>
    <form action="" class="donnee">
      <div class="user dr">
        <div class="nom dx">
          <input type="text" class="input" name="nom" id="nom" [(ngModel)]="name">
          <label for="nom" class="lbl">Nom & Prenoms</label>
        </div>

        <!---
        <div class="prenom                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
          <input type="text" class="input" name="prenom" id="prenom">
          <label for="prenom" class="lbl">Prénom</label>
        </div>
      -->
      </div>
  
      <div class="tel-mail dr">
        <div class="email dx">
          <input type="text" class="input" name="mail" id="mail" [(ngModel)]="email">
          <label for="mail" class="lbl">E-mail</label>
        </div>
        <div class="tel dx">
          <input type="tel" class="input" name="phone" id="phone" [(ngModel)]="phone">
          <label for="phone" class="lbl">Téléphone</label>
        </div>
      </div>
      <button class="btn btn-primary" type="button" disabled *ngIf="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <div class="btn btn-lg" style="background-color:#fab91a ; color: #324161;" (click)="updateUser()" *ngIf="loading==false">Enregistrer</div>
    </form>
  </div>
</div>
