
<!--

<style>
.card-body{
  font-weight: normal;
    font-family: 'Poppins';
}
</style>

<!--
<div class="title">
  <span>TOP PRODUITS</span>
</div>

<section>
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">MEILLEURS VENTES</h3>
    </header>
      <div class="row">
        <div class="col-md-3" *ngFor="let item of tops">
          <div class="card card-product-grid">
            <a class="img-wrap" [href]="url+item.id">
               <img [src]="item.img"> </a>
          </div>
        </div> 
        
    </div>
</div>
</section>
-->


<!-- pourquoi nous choisir 
<section>
  <div class="container">
    <header class="heading">
      <h3 class="title">POURQUOI NOUS CHOISIR? </h3>
    </header><!-- sect-heading 

      <div class="row">
        <div class="col-2 col-d">
          <div class="card">
          <div>
            <a href="#" class="ico-wrap"> <img src="../assets/image/br-1.png"> </a>
          </div>
          <div style="background: #324161; text-align: center;margin-top: 10px; ">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" data-target="#contentId" aria-expanded="false" aria-controls="contentId">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
            </p>
            <div class="collapse" id="contentId">
              <p class="mot">Nous vous recommandons de rechercher d'abord le produit sur le web, car nous avons une grande variété de produits en ligne. Si vous avez des doutes ou si vous ne trouvez pas ce que vous cherchez et que vous souhaitez une offre sur mesure, vous pouvez nous envoyer un email et nous écrire à partir de la rubrique contact. Nous sommes votre imprimeur en ligne bon marché.</p>

            </div>
          </div>
        </div>
        </div> <!-- col.// 
        <div class="col-2 col-d">
          <div class="card">
            <div>
              <a href="#" class="ico-wrap"> <img src="../assets/image/br-2.png"> </a>
            </div>
            <div  style="background: #324161; text-align: center;margin-top: 10px;">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" data-target="#deroule" aria-expanded="false" aria-controls="contentId">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
              </p>
              <div class="collapse" id="deroule">
                <p class="mot">Nous avons un service de conception graphique. Un designer peut faire professionnellement le design que vous voulez. Cliquez ici pour en savoir plus sur ce service.</p>

              </div>
             </div>
        </div>
        </div> <!-- col.// 
        <div class="col-2 col-d">
          <div class="card">
          <div>
            <a href="#" class="ico-wrap"> <img src="../assets/image/br-5.png"> </a>
          </div>
          <div style="background: #324161; text-align: center;margin-top: 10px;">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" data-target="#deroule2" aria-expanded="false" aria-controls="contentId">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
            </p>
            <div class="collapse" id="deroule2">
             <p class="mot">Nous avons un outil de conception graphique gratuit sur lequel vous pouvez vous entraîner et vous lancer pour faire le design que vous aimez et l'utiliser comme vous le souhaitez. Vous pouvez concevoir à partir de 0 ou à partir de nos modèles prédéfinis. Vous pourrez enregistrer le fichier, et vous l'aurez toujours stocké dans le Cloud pour continuer à l'éditer selon vos souhaits.</p>
            </div>
          </div>
          </div>
        </div> <!-- col.// 
        <div class="col-2 col-d">
          <div class="card">
          <div>
            <a href="#" class="ico-wrap"> <img src="../assets/image/br-4.png"> </a>
          </div>
          <div style="background: #324161; text-align: center;margin-top: 10px;">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" data-target="#deroule3" aria-expanded="false" aria-controls="contentId">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
            </p>
            <div class="collapse" id="deroule3">
              <p class="mot">Nous révisons tous vos fichiers gratuitement pour assurer une impression correcte. Cet examen comprend les couleurs, les fonds perdus, les zones de coupe et la résolution. En cas de détection d'un problème, nous prendrons contact avec vous avant la mise en production</p>
            </div>
          </div>
          </div>
        </div> <!--col.// 
        <div class="col-2 col-d">
          <div class="card">
          <div>
            <a href="#" class="ico-wrap"> <img src="../assets/image/br-3.png"> </a>
          </div>

          <div style="background: #324161; text-align: center;margin-top: 10px;">
            <hr>
            <p>
              <a class="btn btn-primary" data-toggle="collapse" data-target="#deroule4" aria-expanded="false" aria-controls="contentId">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </a>
            </p>
            <div class="collapse" id="deroule4">
              <p class="mot">Notre catalogue est très large mais les possibilités dans le monde de l'impression sont pratiquement infinies. Nous adaptons et recherchons des produits que nous pouvons fabriquer selon vos besoins. N'hésitez pas à nous contacter.</p>

            </div>
          </div>
          </div>
        </div> <!--col.// 
      </div>
      <!-- fin row 
    </div>
</section>


<!-- faq 
<section>
  <div class="container">
    <header class="heading">
      <h3 class="title">FOIRE AUX QUESTIONS</h3>
    </header>

    <div class="row">
      <div class="col-sm-6">
        <div class="col-faq-1"></div>
        <div class="text">SUR NOTRE ENTREPRISE</div>
        <div class="faq-a">

            <div class="faq">
              <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
                <label class="question u-body" for="faq3-0">
                  <div id="collapseIndicatorExampleTwo">
                    <div class="card essai" style="background: none;border: none;">
                      <a style="color:#324161;text-decoration: none;" data-target="#collapseIndicatorPlus" class="card-header collapse-indicator-plus" id="headingExampleThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicatorPlus">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Qu'est-ce que Aladin?
                      </a>

                      <div id="collapseIndicatorPlus" class="collapse" aria-labelledby="headingExampleThree" data-parent="#collapseIndicatorExampleTwo">
                        <div class="card-body">
                         <strong> ALADIN</strong> est une plateforme en ligne qui regroupe plusieurs imprimeries en son sein dont le but est d’améliorer l’accessibilité des produits d’imprimerie a la population en leur proposant des services innovants, pratiques et à prix bas, tout en accélérant le développement des imprimeries ayant recours à notre plateforme.
                        </div>
                      </div>
                    </div>
                  </div>



                </label>
              <!-- <div class="answer u-small-body collapsible-opened">
<div id="collapseIndicatorExampleTwo">
  <div class="card">
    <a href="#collapseIndicatorPlus" class="card-header collapse-indicator-plus" id="headingExampleThree" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicatorPlus">
      Collapse with plus sign indicator
    </a>

    <div id="collapseIndicatorPlus" class="collapse" aria-labelledby="headingExampleThree" data-bs-parent="#collapseIndicatorExampleTwo">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred.
      </div>
    </div>
  </div>
</div>
                <p>
                  Nous sommes la nouvelle façon d'imprimer toutes sortes de documents graphiques.
                    Nous sommes spécialisés dans la vente de produits d'impression promotionnels ainsi que de papeterie d'entreprise et de gestion.
                    Des délais de livraison courts, une qualité maximale de nos impressions, des prix abordables, la facilité d'utilisation de notre site Web et la large gamme de produits font d'5print.fr
                    le meilleur choix en tant que fournisseur mondial de votre société ou entreprise.
                    Nous sommes l'imprimeur en ligne bon marché pour l'impression de tous vos documents.
                </p>
                <p>
                  <a href="/a-propos-de-nous">Voir notre entreprise</a>
                </p>
              </div> 
          </div>
        </div>
        <div class="faq">
          <input class="collapsible" type="checkbox" name="faq1" hidden id="faq-1">
          <label class="question" for="faq-1">
            <div id="collapse1">
              <div class="card"  style="background: none;border: none;">
                <a style="color:#324161;text-decoration: none;" data-target="#collapseIndicator" class="card-header collapse-indicator-plus" id="headingExampleThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicator">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  Modalités de paiement
                </a>
                <div id="collapseIndicator" class="collapse" aria-labelledby="headingExampleThree" data-parent="#collapse1">
                  <div class="card-body">
                    <strong> ALADIN</strong> propose un service de paiement qui se faire soit :
                     <p> -par paiement mobile</p>
                     -par paiement par carte visa

                  </div>
                </div>
              </div>
            </div>

            </label>
            <!-- <div class="content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates blanditiis libero nesciunt cum ipsum repudiandae! Doloremque iste,
                perspiciatis hic aspernatur maiores blanditiis? Doloribus fugiat voluptas doloremque numquam ea.
                Voluptatibus, voluptatem!
              </p>
            </div> 
          </div>
         <div class="faq">
            <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
            <label class="question u-body" for="faq3-0">
              <div id="collapse2">
                <div class="card"  style="background: none;border: none;">
                  <a style="color:#324161;text-decoration: none;" data-target="#collapse" class="card-header collapse-indicator-plus" id="headingExampleThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicator">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Service de livraison
                  </a>
                  <div id="collapse" class="collapse" aria-labelledby="headingExampleThree" data-parent="#collapse2">
                    <div class="card-body">
                      En ce qui concerne la livraison, nous proposons un service de livraison de :
                      <p>- qualité</p>
                      <p> -avec un personnel qualifié</p>
                      <p> -et un délai de livraison dans le temps</p>
                          -la livraison partout en côte d’ivoire


                    </div>
                  </div>
                </div>
              </div>



              </label>
        </div>

         <div class="faq">
            <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
            <label class="question u-body" for="faq3-0">
              <div id="collapse3">
                <div class="card"  style="background: none;border: none;">
                  <a style="color:#324161;text-decoration: none;" data-target="#collapsel" class="card-header collapse-indicator-plus" id="headingExampleThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicator">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Délais de livraison
                  </a>
                  <div id="collapsel" class="collapse" aria-labelledby="headingExampleThree" data-parent="#collapse3">
                    <div class="card-body">
                      Nous proposons un délai qui est compris entre 1 et 7 JOURS
                    </div>
                  </div>
                </div>
              </div>

            </label>
        </div>
        <!----
         <div class="faq">

            <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
            <label class="question u-body" for="faq3-0">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Devis personnalisé
            </label>
          </div>


        </div>

      <div class="col-sm-6">
        <div class="col-faq-1"></div>
        <div class="text">SUR NOTRE PRODUITS</div>
        <div class="faq">
          <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
          <label class="question u-body" for="faq3-0">
            <div id="collapse6">
              <div class="card"  style="background: none;border: none;">
                <a style="color:#324161;text-decoration: none;" data-target="#collapsell" class="card-header collapse-indicator-plus" id="headingExampleThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseIndicator">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Comment passer une commande ?
                </a>
                <div id="collapsell" class="collapse" aria-labelledby="headingExampleThree" data-parent="#collapse6">
                  <div class="card-body">
                 <p>•Aller sur la plateforme <a href="#">www.aladin.ci</a></p>
                <p> •	Naviguer à la recherche de votre produit (barre de recherche ou choisir une des catégories)</p>
                <p> •	Une fois le produit trouvé cliqué sur le produit</p>
              <p>   •	Renseigner les options </p>
             <p>    •	Cliquer sur COMMANDER</p>
                <p> •	Aller dans le PANIER</p>
               <p>  •	Renseigner les information personnelles (nom ; contact et le lieu de la livraison)</p>
              <p>     •	Choisir le mode paiement</p>
                    •	Cliquer sur VALIDER LA COMMANDE

                  </div>
                </div>
              </div>
            </div>


          </label>
        </div>
        <div class="faq">
          <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
          <label class="question u-body" for="faq3-0">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Envoi de fichiers
          </label>
        </div>
        <div class="faq">
          <input class="collapsible-input" id="faq3-0" hidden="" name="faq3" type="checkbox">
          <label class="question u-body" for="faq3-0">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Caractéristiques que les fichiers doivent respecter
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- qui nous sommes 
<section>
  <div class="container" id="sommes">
    <header class="heading">
      <h3 class="title">QUI SOMMES NOUS</h3>
    </header>
              <div class="row">
                <div class="grid-item col-sm-4">
                    <img class="img-qsn" src="../assets/image/about-us-1_1.jpg"  alt="" style="display: inline-block;width:100%;">
                      <h3 class="title-3">Méthodes d’impression</h3>
                        <div>
                          <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Chez Aladin nous imprimons en ligne tout type de matériel graphique. Nous avons la machine d'impression offset et numérique la plus avancée du marché. Sur notre site Web, vous pouvez calculer le prix de tous les imprimés de papeterie de l'entreprise, les graphiques publicitaires, tels que brochures et dépliants, les gadgets d'entreprise tels que stylos ou tasse.</p>
                        </div>
                </div>

                <div class="grid-item col-sm-4">
                  <img class="img-qsn" src="../assets/image/IMAGE-11.jpg" alt="" style="display: inline-block;width:100%;">
                      <h3 class="title-3">Outil de conception</h3>
                        <div>
                            <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Nous vous offrons un outil de conception gratuit avec lequel vous pouvez faire tous vos designs facilement. Vous pouvez également créer vos fichiers avec votre ordinateur ou les confier à un graphiste. Chez Aladin nous passons en revue tous les fichiers avant de commencer l'impression afin d'assurer la meilleure qualité et une finition optimale.</p>
                        </div>
                </div>

                <div class="grid-item col-sm-4">
                  <img class="img-qsn" src="../assets/image/about-us-3_1.jpg" alt="" style="display: inline-block;width:100%;">
                      <h3 class="title-3">Matériaux</h3>
                        <div>
                              <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Nous disposons d'une grande variété de papiers en fonction du produit choisi. Nous sommes spécialistes en affiches publicitaires à coller sur les murs, pour lesquelles nous disposons d'une machine qui permet l'impression offset jusqu'à 140x100 cm. Nous pouvons nous adapter à vos besoins et délais de livraison.</p>
                        </div>
                </div>
              </div>

              <div class="row">
                <div class="grid-item  col-sm-4">
                  <img class="img-qsn" src="../assets/image/about-us-4_1.jpg" alt="" style="display: inline-block;width:100%;">
                    <h3 class="title-3">Logistique</h3>
                      <div class="collapsible-closed u-body block-section-text center">
                              <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Nous avons amélioré tous nos processus, tant productifs que logistiques, afin que tout se déroule comme prévu. Chez Aladin nous traitons chaque commande personnellement, en révisant et en ajustant les fichiers, et avec un grand contrôle ultérieur du produit. Même si nous savons que quelque chose peut mal tourner, et c'est pourquoi nous vous offrons le meilleur service possible.</p>
                      </div>
                </div>

                <div class="grid-item  col-sm-4">
                  <img class="img-qsn" src="../assets/image/about-us-5_1.jpg" alt="" style="display: inline-block;width:100%;">
                    <h3 class="title-3">Finition</h3>
                      <div class="collapsible-closed u-body block-section-text center">
                        <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Dans le domaine des cartes de visite, nous offrons une grande variété de finitions qui sauront sûrement répondre à tous vos besoins. Nous pouvons fabriquer des cartes de visite rondes ou carrées. Vous pouvez également choisir des finitions telles que le  brillant ou mat pour améliorer la qualité de vos cartes de visite. Nous nous adapterons également à vos délais sans que l'argent ne devienne une contrainte car nous avons des délais plus courts pour tout fournir à temps.</p>
                      </div>
                </div>

                <div class="grid-item  col-sm-4">
                  <img class="img-qsn" src="../assets/image/about-us-6_1.jpg" alt="" style="display: inline-block;width:100%;">
                    <h3 class="title-3">Grand Format</h3>
                        <div class="collapsible-closed u-body block-section-text center">
                          <p style="font-size: 0.9rem;line-height: 1.2rem;color: #797979; text-align: justify;">Avec notre service d'impression grand format, nous offrons tout, des affiches rigides dans différents matériaux aux vinyles adhésifs et toiles publicitaires. Les Roll-up, les banderoles  pour les menus ou les présentoirs de brochures sont également des éléments personnalisés pour les grands tirages. Ces affiches grand format peuvent être commandées dans différents matériaux et formats. L'impression d'autocollants de toute forme.</p>
                        </div>
                      </div>
                </div>
  </div>
</section>
<!-- image home 
<section style="width: 100%;">
  <div class="container img-footer">
    <a href="#">
      <img style="width: 100%;" src="../assets/image/Passez à l'action.jpg" alt="">
    </a>
  </div>
</section>-->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  </style>



<div class="container axe">
  <div class="top_produit">
    <div class="title">
      <div class="bar">
        <p>Catégories</p>
      </div>
    </div>
    <div class="products">
      <div class="product">
        <div class="text">
          <p class="noms">Imprimés</p>
          </div><a href="printed"><img class="image_products" src="/assets/image/imprimer.jpeg" alt="Imprimes"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Gadgets</p>
          </div><a href="gadgets"><img class="image_products" src="/assets/image/gadget.jpeg" alt="gadgets"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Vêtements</p>
          </div><a href="cloths"><img class="image_products" src="/assets/image/tshirt2.jpeg" alt="vetements personnalisable"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Affichage</p>
          </div><a href="displays"><img class="image_products" src="/assets/image/affiche.jpeg" alt="Affichage"></a>
      </div>
      <div class="product">
        <div class="text">
          <p class="noms">Emballage</p>
          </div><a href="packages"><img class="image_products" src="/assets/image/sachet.jpeg" alt="Emballage"></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="top_produit">
    <div class="title">
      <div class="bar">
        <p>Top Produits</p>
      </div>
    </div>
    <div class="products" >
      <div class="product" *ngFor="let item of produit"><a href="cloths"><img class="image_product" [src]="item.url" alt="T-shirt personnalise">
        <div class="text">
          <p class="nom">Tee-shirt</p>
          <p class="descris">À partir de <span class="price">{{item.price}}</span></p>
        </div></a></div>
      <div class="product"><a href="displays"><img class="image_product" src="/assets/image/kakemono.jpeg" alt="Kakemono Roll ups">
        <div class="text">
          <p class="nom">Kakemono Roll ups</p>
          <p class="descris">À partir de <span class="price">40 000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="gadgets"><img class="image_product" src="/assets/image/tasse.jpeg" alt="Mugs">
        <div class="text">
          <p class="nom">Mugs</p>
          <p class="descris">À partir de <span class="price">3000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="printed"><img class="image_product" src="/assets/image/carte_visite.jpeg" alt="Carte de visite">
        <div class="text">
          <p class="nom">Carte de visite</p>
          <p class="descris">À partir de <span class="price">10 000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="printed"><img class="image_product" src="/assets/image/flyer.jpeg" alt="Flyers">
        <div class="text">
          <p class="nom">Flyers</p>
          <p class="descris">À partir de <span class="price">10 000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="displays"><img class="image_product" src="/assets/image/vinile.jpeg" alt="Vinyle">
        <div class="text">
          <p class="nom">Vinyle</p>
          <p class="descris">À partir de <span class="price">7000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="displays"><img class="image_product" src="/assets/image/bache.jpeg" alt="Bâche">
        <div class="text">
          <p class="nom">Bâche</p>
          <p class="descris">À partir de <span class="price">5000 Fcfa</span> </p>
        </div></a></div>
      <div class="product"><a href="packages"><img class="image_product" src="/assets/image/sac.jpeg" alt="">
        <div class="text">
          <p class="nom">Sac en toile</p>
          <p class="descris">À partir de <span class="price">12 000 Fcfa</span> </p>
        </div></a></div>
    </div>
  </div>
</div>


<div class="contact">
  <div class="text_contact">
    <h2 class="h2" style="font-size: 30px;">
      <span>
        Notre service Client à vos côtés au <span style="font-weight: bold;">(+225 ) 27 23 45 73 02</span> ou
      </span>
    </h2>
    <div class="btn btn-sm b_cont">
      <div>
        <span style="font-size: 10px;">contactez - nous</span>
      </div>
    </div>
  </div>
  <h2 class="lun">
    <div>
      <span style="font-size: 10px;">du Lundi au Samedi de 7h à 20h</span>
    </div>
  </h2>
</div>

<section class="profession fv">
  <div class="bloc vf">
    <div class="image im">
      <img src="assets/image/mike.jpeg" alt="" class="profil">
    </div>
    <div class="text_profils tp">
      <div class="icons">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg>
        </div>
      </div>
      <div class="text_profil">
        <h2>
          <span style="font-style: italic;">
            This is your Testimonial quote. Use this space to share reviews about you, your services or your business.
          </span>
        </h2>
      </div>
      <div>
        <p>Doh B.   |  Infographiste Webdesigner</p>
      </div>
    </div>
  </div>
</section>

