:root{
  --bleu:#324161;
  --jaune:#fab91a;
}



// *{
//   box-sizing: border-box;
// }

// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.container-flex img{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat ;
  display: inline-flex;

}






// :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container
{
  width: 100%;
}
// image et slide

#body{
  background: #a5a7a5;
}

#container-image{
  margin-bottom: 40px;
}

#container-image .box-image{
  position: relative;
}

#container-image .box-image .box-text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container-image .box-image .text-header{
  margin-top: 10%;
  margin-left: 5%;
}
#container-image .box-image .text-header .h1-header{
  // background-color: #fff;
  // opacity: 0;
  font-weight: bold;
  color: #fab91a;
}

.images{
  width: 50%;
  margin-left: auto;
  margin-top: 2%;
}

.span{
  margin-left: 10%;
}

.slide-produit {
  width: 100%;
  border: 2PX solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  margin: 0px;
}


.text{
  font-size: 4em;
  margin: .2em 0;
  margin-right: 35;
  margin-bottom: -16px;

}
.botton{
  padding-top: 10px;
  display: inline-block;
}

.button {
  background-color: #fab91a;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}


//section slide
#section-slide{
  margin-bottom: 40px;
}

.container-text{
  text-align: center;
}
@media screen and (min-width: 768px){
  #section-slide:not(.quest) .col-12{
    margin-top: -25px;
  }
}
@media screen and (min-width: 768px) {
  #SSP-example-products:not(.quest) .col-12 {
      margin-top:-27.5%;
  }
}

#section-slide .slide-produit{
  background-color: #fff;
  padding: 30px 65px 55px;
}


// table


.title{
  text-align: center;
  color: #324161;
}
.col-xl-5{
  // padding: 2%;
  margin-top: 50px;
  color: #324161;
  box-shadow: 2px 3px 6px 2px;
  margin-left: 6%;
}



.col-faq{

  width: 48%;
  padding: 10%;
  color: #ffffff;
  border: 10px solid #324161;
  margin-left: 2%;
}

.text-faq{
 background: #324161;
 color: #fff;
 font-style: 100%;
 font-weight: bold;
 text-align: center;
 padding-bottom: 10px;
}

.faq{
  background-color: #efefef;
  padding: 15px;
  margin-bottom: 10px;
}

// input{
//   display: none;
// }

.question{
  display: inline-block;
  color: #324161;
  font-weight: bold;
}


a{
  text-decoration: none;
}
//

.box {
  padding: 10%;
  margin-top: 50px;
  color: #324161;
  box-shadow: 2px 3px 6px 2px;
}

.fin-section{
  padding: 15%;
  background: #fab91a;
  margin-top: 50px;
}
.text-centre{
  text-align: center;
  margin:40px 30px ;
}



