<head>
  <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
></script>
<!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
rel="stylesheet"
/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- Footer -->
<footer class=" justify-content-center text-lg-left">
<!-- Grid container -->
<div class="container p-4">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-4 mb-md-0" >
      <h6 class="text-uppercase">Payement sécurisé</h6>
      <img src="assets/image/Orangemoney.png" style="width:20%; height:auto;">
      <img src="assets/image/moov.png" style="width:8%; height:auto;">
      <img src="assets/image/visa.png" style="width:10%; height:auto;">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 faire">
      <h6 class="text-uppercase ">Newwsletters</h6>

      <ul class="list-unstyled mb-0   ">
        <li>
          <p>Recevez tous les offres et nouvelles</p>
        </li>
        <li>
          <form action="" method="post" >
            <input type="email" name="" id="" placeholder="entrez votre E-mail " style="border: solid 2px;">
            <button type="submit" style="position: absolute; background: #fab91a;">inscrivez-vous</button>
          </form>
        </li>
       <!-- <li>


       </li>-->
      </ul>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h6 class="text-uppercase mb-0">Réseaux sociaux</h6>

      <ul class="list-unstyled">

        <div class="col">
        <li>
          <a href="https://instagram.com/aladin" class="text-dark"><i class="fab fa-instagram  fa-2x  "></i></a>
        </li>


        <li>
          <a href=" https://twitter.com/AladinCi" class="text-dark"><i class="fab fa-twitter  fa-2x  "></i></a>
        </li>


        <li>
          <a href="https://www.facebook.com/Aladin-104220978466375" class="text-dark"><i class="fab fa-facebook  fa-2x  "></i></a>
        </li>
      </div>

      </ul>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Grid container -->
<div class="input-new">
  <input type="checkbox" name="" id="check">

  Je donne mon concentement à aladin pour recevoir des communications  commerciales électroniques de leurs articles et /ou produits

</div>
<!-- Copyright -->
<div class="text-center p-3" style="background-color:#fab91a;">
  © 2021 Aladin inc:
  <a class="text-dark " href="./cu">Condition d'utilisation du service</a>
<!--<a class="text-dark " href="#">admin</a> -->
  <a class="text-dark " href="#">Ne vendez pas mes informations</a>
  <span class="vertical-line"></span>
  <a class="text-dark " href="#">Droit de confidentialité de CA</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

