<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-T053Z2W7VN');
  </script>
<div class="container-fluid" id="fluid">
    <div class="card-header" >
        vetements
        <a class="a" href="../cloths" style="float: right;">VOIR PLUS  <i class="fas fa-angle-right"></i></a>
    </div>  

   <div class="row" *ngIf="show">
           <div class="card-deck">
                   <div class="col-2"  *ngFor ="let item of clothes">
                       <div class="card">
                       <a >
                           <img [src]="item.lib_img" alt="" class="img-fluid">
                           <div class="middle">
                               <a class="text btn" (click)="go(item)">
                               Je personnalise
                               </a>
                             </div>
                           <div class="card-body">
                               <h6 hidden>{{item.name_cloths}}</h6>
                               <p style="color: red;">{{item.price}} <strong>XOF</strong></p>
                           </div>
                       </a>
                   </div>
                   </div>
           </div>
       </div>
       <!--
       <br>
       <br> 
       <div class="card-header">
           Imprimés
           <a class="a" href="" style="float: right;">Voir plus</a>
       </div> 
       
      <div class="row">
          
              <div class="card-deck">
                      <div class="col-3" >
                          <div class="card">
                          <a href="">
                              <img src="" alt="">
                              <div class="middle">
                                  <a class="text btn" href="">
                                  Je personnalise
                                  </a>
                                </div>
                              <div class="card-body">
                                  <h6></h6>
                                  <p> <strong></strong></p>
                              </div>
                          </a>
                      </div>
                      </div>
              </div>
          </div>
          <br>
       <br> 
       <div class="card-header">
           Affichages
           <a class="a" href="" style="float: right;">Voir plus</a>
       </div> 
       
      <div class="row">
          
              <div class="card-deck">
                      <div class="col-3"  >
                          <div class="card">
                          <a href="">
                              <img src="" alt="">
                              <div class="middle">
                                  <a class="text btn" href="">
                                  Je personnalise
                                  </a>
                                </div>
                              <div class="card-body">
                                  <h6></h6>
                                  <p> <strong></strong></p>
                              </div>
                          </a>
                      </div>
                      </div>
              </div>
          </div>
          <br>
       <br> 
       <div class="card-header">
           Emballages
           <a class="a" href="" style="float: right;">Voir plus</a>
       </div> 
       
      <div class="row">
          
              <div class="card-deck">
                      <div class="col-3"  >
                          <div class="card">
                          <a href="">
                              <img src="" alt="">
                              <div class="middle">
                                  <a class="text btn" href="">
                                  Je personnalise
                                  </a>
                                </div>
                              <div class="card-body">
                                  <h6></h6>
                                  <p> <strong></strong></p>
                              </div>
                          </a>
                      </div>
                      </div>
              </div>
          </div>
          <br>
       <br> 
       <div class="card-header">
           Gadgets
           <a class="a" href="" style="float: right;">Voir plus</a>
       </div> 
       
      <div class="row">
          
              <div class="card-deck">
                      <div class="col-3"  >
                          <div class="card">
                          <a href="">
                              <img src="" alt="">
                              <div class="middle">
                                  <a class="text btn" href="">
                                  Je personnalise
                                  </a>
                                </div>
                              <div class="card-body">
                                  <h6></h6>
                                  <p> <strong></strong></p>
                              </div>
                          </a>
                      </div>
                      </div>
              </div>
          </div>
          -->
   </div>
   