



<div class="card-columns"  >
<a  id="card"hidden>get it </a>
  <div class="card">
    <div class="im" style="display: flex;">

      <img [src]="face1" alt="" class="zoom"  *ngIf='face1!=undefined'>
      <img [src]="face2" alt="" class="zoom" *ngIf='face2!=undefined'>
    </div>
    
    </div> 

  
    <div class="card" *ngFor="let item of data">
        <div class="im" style="display: flex;">
  
          <img [src]="item.face1" alt="" class="zoom">
          <img [src]="item.face2" alt="" class="zoom">
        </div>
        <div class="card-body">
            <h5 class="card-title" >{{item.data.name}}</h5>
            <p>{{item.data.price}}  <strong>XOF</strong> </p>
            <div class="col-6">
              <button class="btn" [id]="mydesigns.indexOf(item)+'*'+data.indexOf(item)" data-toggle="modal" data-target="#clothmodal" (click)="getProdprice($event)" [name]="item.data.price"> 
                Ajouter au panier</button> 
            </div>
  
              <br>
              <div class="col-3 d-flex" style="float: left;">
                <button class="btn btn-block" style="margin-left:0%;float:left"> 
                  <i class="far fa-trash-alt" (click)="removeOneItem($event)" [id]="data.indexOf(item)+'*'+mydesigns.indexOf(item)"></i></button>
               
             
              </div>
            
  
  
        </div> 
        
  <div class="modal fade" id="clothmodal"  aria-labelledby="exampModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
    <div class="modal-content">
  
        
        <div class="modal-body">
            <div class="container">


                <div class="row ro">
                  <div class="col-8">
                    <h6 *ngIf="hide_calco">Taille </h6>
                    <div class="rad" *ngIf="hide_calco">
                      <select class="form-select" name="SELECTING SIZE" (change)="OnsizeChange($event)">
                        <option selected value="value">choisissez Taille</option>
                        <option >L</option>
                        <option  value="M">M</option> 
                        <option value="XL">XL</option> 
                        <option  value="XXL">XXL</option> 

                      </select>
  
  
                   </div>

      
                <hr *ngIf="hide_calco">
                <div class="col-8" *ngIf="hide_calco">
                  <h6>Types d'impression </h6>
                  <select class="form-select" aria-label="Default select example" (change)="OnTypeChange($event)">
                    <option selected value="value">choisissez type</option>
                    <option value="flex">Flex</option>
                    <option  value="serigraphie">Sérigraphie</option> 
                  </select>
                
                </div> 
  
                   <hr *ngIf="hide_calco">
                   <div class="col-8" *ngIf="hide_calco">
                    <h6>formes</h6>
                    <select class="form-select" aria-label="Default select example" (change)="OnShapeChange($event)">
                      <option selected>choisissez la forme</option>
                      <option value="mc">Manche courte</option>
                      <option value="ml">Manche longue</option>
                    </select>
                    
                  </div> 
  
                   <hr>
                   <div class=" col-8 btn">
                    <a class="dt" data-toggle="collapse" data-target="#info" aria-expanded="false" aria-controls="info" (click)="hidemodal()">Calculer le montant</a>
                  </div>
                   
                  
                  <div id="info" class="collapse" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                              <p class="to text text-primary">{{price}} XOF</p>
                  
                             <div class="row">
                              <span class="input-number">{{inpnmb}}</span>
                  
                             </div>
                                <div class="row">
                                  <a type="button" class="input-number-decrement btn btn-primary" (click)="getPricem()">–1</a>
                  
                                  <a type="button" class="input-number-increment btn btn-secondary" (click)="getPrice()">+1</a>
                                </div>
                                <!---->
                               <div class="row">
                                  <a type="button" class="input-number-increment_div btn btn-secondary" (click)="divide()">:5</a>
                  
                                  <a type="button" class="input-number-increment_by btn btn-secondary" (click)="decremet_by()">x5</a>
                    
                                </div>
                                 <div class="modal-footer">
                                <a type="button" class="btn btn-primary" (click)="addtocart($event)" >
                                  <i class="fas fa-cart-plus" ></i>
                                </a>
                            </div>
                            </div>
                         

                        </div>
                    </div>
                  </div>
                  

          
                  </div>
                </div>
               
              </div>



        </div>
    </div>


    </div>
  </div>
    </div>   
  </div>
       
  
